@using ExchangeService.Shared.Resources;
@using ExchangeService.Shared.Enums;
@using ExchangeService.Client.Services;
@page "/exchangedetails/{ExchangeId}"
@inject HttpClient Http
@inject TokenService tokenService
@inject AppState appState
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

@if (Exchange == null)
{
<p><em>Loading...</em></p>
}
else
{
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="alert alert-secondary" role="alert">
                <div class="row justify-content-center">
                    <img src="@myProfile.ImageUrl" width="150" height="150">
                </div>
                <div class="row justify-content-center">
                    <p class="font-weight-bold">@myProfile.Name @myProfile.Surname</p>
                </div>
                <div class="row" style="padding:4px">
                    <div class="col-sm-2">
                        <i class="fas fa-map-marker-alt" style="font-size: 18px"></i>
                    </div>
                    <div class="col-sm-10">
                        <p class="font-weight-normal">@myProfile.Location</p>
                    </div>
                </div>
                <div class="row" style="padding:4px">
                    <div class="col-sm-9">
                        <p class="font-weight-normal">Exchanges made:</p>
                    </div>
                    <div class="col-sm-3">
                        @myProfile.ExchangesCount
                    </div>
                </div>
                <div class="row" style="padding:4px">
                    <div class="col-sm-9">
                        <p class="font-weight-normal">Reviews:</p>
                    </div>
                    <div class="col-sm-3">
                        @myProfile.ReviewsCount
                    </div>
                </div>
                <div class="row" style="padding:4px">
                    <div class="col-sm-9">
                        <p class="font-weight-normal">Average mark:</p>
                    </div>
                    <div class="col-sm-3">
                        @myProfile.AvgMark
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="alert alert-secondary" style="background-color:#f2f2f3" role="alert">
                <div class="row justify-content-center">
                    <div class="col-sm-6">
                        <p class="font-weight-bold"> Games you give away: </p>
                        @foreach (var gameId in Exchange.MyGamesIds)
                                {
                        <p>@myGames.SingleOrDefault(g => g.GameId == Int32.Parse(gameId)).Title</p>
                                }
                    </div>
                    <div class="col-sm-6">
                        <p class="font-weight-bold"> Games you get: </p>
                        @foreach (var gameId in Exchange.OtherUserGamesIds)
                                {
                        <p>@otherGames.SingleOrDefault(g => g.GameId == Int32.Parse(gameId)).Title</p>
                                }
                    </div>
                </div>
                <br /><br />
                <div class="row justify-content-center">
                    <div class="col-sm-6">
                        <p class="font-weight-bold">Type of exchange: </p>
                        <p>@Exchange.Shipment</p>
                    </div>
                    <div class="col-sm-6">
                        @if (Exchange.Shipment == Shipment.Delivery)
                         {
                        <p class="font-weight-bold">Your delivery adress:</p>
                        <p class="font-italic">@Exchange.MyContactInfo</p>

                        <p class="font-weight-bold">Other user delivery adress:</p>
                        <p class="font-italic">@Exchange.OtherUserContactInfo</p>
                        }
                        else
                        {
                        <p class="font-weight-bold">Your contact details:</p>
                        <p class="font-italic">@Exchange.MyContactInfo</p>

                        <p class="font-weight-bold">Other user contact details:</p>
                        <p class="font-italic">@Exchange.OtherUserContactInfo</p>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="alert alert-secondary" role="alert">
                <div class="row justify-content-center">
                    <img src="@otherUser.ImageUrl" width="150" height="150">
                </div>
                <div class="row justify-content-center">
                    <p class="font-weight-bold">@otherUser.Name @otherUser.Surname</p>
                </div>
                <div class="row" style="padding:4px">
                    <div class="col-sm-2">
                        <i class="fas fa-map-marker-alt" style="font-size: 18px"></i>
                    </div>
                    <div class="col-sm-10">
                        <p class="font-weight-normal">@otherUser.Location</p>
                    </div>
                </div>
                <div class="row" style="padding:4px">
                    <div class="col-sm-9">
                        <p class="font-weight-normal">Exchanges made:</p>
                    </div>
                    <div class="col-sm-3">
                        @otherUser.ExchangesCount
                    </div>
                </div>
                <div class="row" style="padding:4px">
                    <div class="col-sm-9">
                        <p class="font-weight-normal">Reviews:</p>
                    </div>
                    <div class="col-sm-3">
                        @otherUser.ReviewsCount
                    </div>
                </div>
                <div class="row" style="padding:4px">
                    <div class="col-sm-9">
                        <p class="font-weight-normal">Average mark:</p>
                    </div>
                    <div class="col-sm-3">
                        @otherUser.AvgMark
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}

@functions{
    [Parameter]
    string ExchangeId { get; set; }
    ExchangeDto Exchange { get; set; } 
    UserView myProfile;
    UserView otherUser;
UserGameView[] myGames;
UserGameView[] otherGames;

    protected override async Task OnInitAsync()
    {
        appState.TrySetAccessTokens();
        Exchange = await Http.GetJsonAsync<ExchangeDto>("http://localhost:5000/api/users/exchange/" + ExchangeId);
        otherUser = await Http.GetJsonAsync<UserView>("http://localhost:5000/api/users/" + Exchange.OtherUserId);
        var mine = await Http.GetJsonAsync<IEnumerable<UserGameView>>("http://localhost:5000/api/users/games/" + myProfile.UserId);
        myGames = mine.ToArray();
        var other = await Http.GetJsonAsync<IEnumerable<UserGameView>>("http://localhost:5000/api/users/games/" + otherUser.UserId);
        otherGames = other.ToArray();
    }
}

