@using ExchangeService.Shared.Resources;
@page "/addgame"
@inject HttpClient Http

<h1>Add game for exchange</h1>

<input type="text" bind="@gameTitle" />
<button onclick=@(async () => await PrintWebApiResponse())>Search</button>

@if (gameWasSearched)
{
    @if (response != null)
    {
        <p>Select game from existing or add a new one:</p>
        <select bind="@selectedId">
            @foreach (var game in response)
            {
                <option value="@game.Id">@game.Name</option>
            }
        </select>
    }
    <button onclick=@(() => AddNewGame())>Add new game</button>

    @if(selectedId != null)
    {
        <p>@selectedId</p>
        @GetGameDetails();    // get that async somewhere
    }
    
    // here we have either existing game or empty gamdto
    //input editable or not values
    // sset up proper buttons
} 





@functions {

    private string gameTitle { get; set; }
    DropDownItem[] response;
    bool gameWasSearched = false;
    string selectedId = null;
    GameDto gameDetails = null;
    bool editableDetails = true;

    private async Task PrintWebApiResponse()
    {
        response = await Http.GetJsonAsync<DropDownItem[]>("http://localhost:5000/api/games/" + gameTitle);
        gameWasSearched = true;
    }

    private void AddNewGame()
    {
        gameDetails = new GameDto();
    }

    private async Task GetGameDetails()
    {
        gameDetails = await Http.GetJsonAsync<GameDto>("http://localhost:5000/api/games/get" + selectedId);
        editableDetails = false;
    }
}
