@using ExchangeService.Shared.Resources;
@page "/addgame"
@inject HttpClient Http

<h1>Add game for exchange</h1>
<input type="text" bind="@GameTitle"/>

@if (gameWasSearched)
{
    @if (response != null && response.Length > 0)
    {
        <p>Select game from existing or add a new one:</p>
        <select bind="@SelectedId">
            <option selected >...</option>
            @foreach (var game in response)
            {
                <option value="@game.Id">@game.Name</option>
            }
        </select>
    }
    <button onclick=@(() => AddNewGame())>Add new game</button>
    
    @if (gameDetails != null)
    {
    <table>
        <tr>
            <td> Game title: </td>
            <td> <input type="text" bind="@gameDetails.Title " /></td>
        </tr>
        <tr>
            <td> Description: </td>
            <td> <input type="text" bind="@gameDetails.Description" /> </td>
        </tr>
        <tr>
            <td> Publisher: </td>
            <td> <input type="text" bind="@gameDetails.Publisher" /> </td>
        </tr>
        <tr>
            <td> Genre: </td>
            <td> <input type="text" bind="@gameDetails.GenreName" /> </td>
        </tr>
        <tr>
            <td> Player count: </td>
            <td> <input type="text" bind="@gameDetails.PlayerCount" /> </td>
        </tr>
        <tr>
            <td> Age required: </td>
            <td> <input type="number" bind="@gameDetails.MinAgeRequired" /> </td>
        </tr>
    </table>
    }

}





@functions {

    private string gameTitle { get; set; }
    DropDownItem[] response;
    bool gameWasSearched = false;

    public string GameTitle
    {
        get => gameTitle;
        set
        {
            gameTitle = value;
            FillAutoComplete().ConfigureAwait(false);
            StateHasChanged();
        }
    }

    string selectedId = null;

    public string SelectedId
    {
        get => selectedId;
        set
        {
            selectedId = value;
            GetGameDetails().ConfigureAwait(false);
        }
    }


    GameDto gameDetails = null;
    bool editableDetails = true;

    private async Task FillAutoComplete()
    {
        response = await Http.GetJsonAsync<DropDownItem[]>("http://localhost:5000/api/games/" + GameTitle);
        SelectedId = null;
        gameWasSearched = true;
        StateHasChanged();
    }

    private void AddNewGame()
    {
        gameDetails = new GameDto();
    }

    private async Task GetGameDetails()
    {
        gameDetails = await Http.GetJsonAsync<GameDto>("http://localhost:5000/api/games/get/" + SelectedId);
        editableDetails = false;
        StateHasChanged();
    }
}
