@using ExchangeService.Shared.Resources;
@using ExchangeService.Client.Services;
@page "/myexchanges"
@inject HttpClient Http
@inject TokenService tokenService
@inject AppState appState

<h1>My exchanges</h1>
<br/>

@if (myExchanges == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (myExchanges.Count() > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 15%">Exchanger</th>
                    <th style="width: 20%">You're getting</th>
                    <th style="width: 20%">You're giving</th>
                    <th style="width: 12%">Shippment</th>
                    <th style="width: 13%">State</th>
                    <th style="width: 20%"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var exchange in myExchanges)
                {
                    <tr>
                        <td>
                            <div class="container">
                                <div class="row justify-content-center">
                                    <img src="@exchange.UserImage" width="100" height="100">
                                </div>
                                <div class="row justify-content-center">
                                    <p class="font-weight-bold">@exchange.OtherUserName</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            @foreach (var game in @exchange.OtherUserGames)
                            {
                                <p>@game</p>
                            }
                        </td>
                        <td>
                            @foreach (var game in @exchange.MyGames)
                            {
                                <p>@game</p>
                            }
                        </td>
                        <td>@exchange.Shipment</td>
                        <td>@exchange.State</td>
                        <td>
                            <div class="container">
                                <div class="row">
                                    Accept
                                </div>
                                <div class="row">
                                    Finalize
                                </div>
                                <div class="row">
                                    Abandon
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>You have no exchanges</p>
    }
}


@functions {
ExchangeView[] myExchanges;

protected override async Task OnInitAsync()
{
    appState.TrySetAccessTokens();
    var exchanges = await Http.GetJsonAsync<IEnumerable<ExchangeView>>("http://localhost:5000/api/users/myexchanges");
    myExchanges = exchanges.ToArray();
}
}
