@using ExchangeService.Shared.Resources;
@using ExchangeService.Client.Services;
@page "/myprofile"
@inject HttpClient Http
@inject TokenService tokenService
@inject AppState appState
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<h1>My profile</h1>
<br />

@if (myProfile == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row" style="padding:4px">
        <div class="col-sm-3">

            <div class="alert alert-secondary" role="alert">
                <div class="row justify-content-center">
                    <img src="@myProfile.ImageUrl" width="150" height="150">
                </div>
                <div class="row justify-content-center">
                    <p class="font-weight-bold">@myProfile.Name @myProfile.Surname</p>
                </div>
                <div class="row" style="padding:4px">
                    <div class="col-sm-2">
                        <i class="fas fa-map-marker-alt" style="font-size: 18px"></i>
                    </div>
                    <div class="col-sm-10">
                        <p class="font-weight-normal">@myProfile.Location</p>
                    </div>
                </div>
                <div class="row" style="padding:4px">
                    <div class="col-sm-9">
                        <p class="font-weight-normal">Exchanges made:</p>
                    </div>
                    <div class="col-sm-3">
                        @myProfile.ExchangesCount
                    </div>
                </div>
                <div class="row" style="padding:4px">
                    <div class="col-sm-9">
                        <p class="font-weight-normal">Reviews:</p>
                    </div>
                    <div class="col-sm-3">
                        @myProfile.ReviewsCount
                    </div>
                </div>
                <div class="row" style="padding:4px">
                    <div class="col-sm-9">
                        <p class="font-weight-normal">Average mark:</p>
                    </div>
                    <div class="col-sm-3">
                        @myProfile.AvgMark
                    </div>
                </div>

                <button type="button" class="btn btn-primary btn-block" onclick=@(() => ToogleContactDetails())>@contactDetailsButton</button>
                @if (contactDetailsVisible)
                {
                    <br />
                    <div class="row" style="padding:4px">
                        <div class="col-sm-2">
                            <span class="fas fa-phone" style="font-size: 24px"></span>
                        </div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" bind="@myProfile.PhoneNumber" />
                        </div>
                    </div>
                    <div class="row" style="padding:4px">
                        <div class="col-sm-2">
                            <span class="fas fa-envelope" style="font-size: 24px"></span>
                        </div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" bind="@myProfile.ContactEmail" />
                        </div>
                    </div>
                }
            </div>

        </div>
        <div class="col-sm-9">

            <div class="row">
                <div class="col-sm-5">
                    <div class="alert alert-primary" role="alert">
                        Games for exchange
                    </div>
                </div>
                <div class="col-sm-3">
                    <a role="button" class="btn btn-primary btn-block" href="/addexchangegame">Add game for exchange</a>
                </div>
            </div>
            <div class="row">
                @foreach (var userGame in userGames)
                {
                    <div class="col-sm-2">
                        <div><img src="@userGame.ImageUrl" width="100" height="100" /></div>
                        <div>@userGame.Title</div>
                    </div>
                    <div class="col-sm-1">
                        <i onclick="@(() => EditGame(userGame))" class="fas fa-edit"></i>
                        <i onclick="@(() => DeleteGameForExchange(userGame))" class="fas fa-trash-alt"></i>
                    </div>
                }
            </div>
            <br />
            <br />

            <div class="row">
                <div class="col-sm-5">
                    <div class="alert alert-primary" role="alert">
                        Games searches
                    </div>
                </div>
                <div class="col-sm-3">
                    <a role="button" class="btn btn-primary btn-block" href="/addsearchgame">Add game search</a>
                </div>
            </div>
            <div class="row">
                @foreach (var userSearch in userSearchGames)
                {
                    <div class="col-sm-2">
                        <div><img src="@userSearch.ImageUrl" width="100" height="100" /></div>
                        <div>@userSearch.Title</div>
                    </div>
                    <div class="col-sm-1">
                        <i onclick="@(() => DeleteGameSearch(userSearch))" class="fas fa-trash-alt"></i>
                    </div>
                }
            </div>
            <br />
            <br />

            <div class="row" style="padding:4px">
                <div class="col-sm-5">
                    <div class="alert alert-primary" role="alert">
                        Reviews
                    </div>
                </div>
            </div>
            @if (comments.Count() > 0 && comments.SingleOrDefault(c => c.IsVisible) != null)
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 20%">Username</th>
                            <th style="width: 20%">Comment date</th>
                            <th style="width: 60%">Content</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < comments.Count(); i++)
                        {
                            <tr>
                                <td>
                                    <div class="row justify-content-center">
                                        @comentators[i].Name @comentators[i].Surname
                                    </div>
                                    <div class="row justify-content-center">
                                        <img src="@comentators[i].ImageUrl" width="100" height="100" />
                                    </div>
                                </td>
                                <td>@comments[i].CommentDate.ToShortDateString()</td>
                                <td>
                                    <div class="row" style="padding:4px">
                                        Mark: @comments[i].Mark
                                    </div>
                                    <div class="row" style="padding:4px">
                                        @comments[i].Text
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="row">
                    <p class="font-italic">You have no reviews.</p>
                </div>
            }
        </div>
    </div>

}


@functions {
    UserView myProfile;
    CommentDto[] comments = new CommentDto[] { };
    List<UserView> comentators = new List<UserView>() { };
    UserGameView[] userGames = new UserGameView[] { };
    UserSearchGameView[] userSearchGames = new UserSearchGameView[] { };
    bool contactDetailsVisible = false;
    string contactDetailsButton = "Show contact details";

    protected override async Task OnInitAsync()
    {
        appState.TrySetAccessTokens();
        if (!appState.IsUserLoggedIn)
        {
            UriHelper.NavigateTo("/unauthorized");
        }
        myProfile = await appState.GetMyProfile();
        var result = await Http.GetJsonAsync<IEnumerable<CommentDto>>("http://localhost:5000/api/users/comments/" + myProfile.UserId);
        if (result.Count() > 0) await FillComents(result);

        var toExchange = await Http.GetJsonAsync<IEnumerable<UserGameView>>("http://localhost:5000/api/users/games/" + myProfile.UserId);
        userGames = toExchange.ToArray();
        var forSearch = await Http.GetJsonAsync<IEnumerable<UserSearchGameView>>("http://localhost:5000/api/users/searches/" + myProfile.UserId);
        userSearchGames = forSearch.ToArray();
    }

    private async Task FillComents(IEnumerable<CommentDto> dbComments)
    {
        var commentList = dbComments.ToList();
        commentList.Reverse();
        comments = commentList.ToArray();
        foreach (var comment in comments)
        {
            comentators.Add(await Http.GetJsonAsync<UserView>("http://localhost:5000/api/users/" + comment.LeavingUserId));
        }
    }

    private void ToogleContactDetails()
    {
        if (contactDetailsVisible)
        {
            contactDetailsVisible = false;
            contactDetailsButton = "Show contact details";
        }
        else
        {
            contactDetailsVisible = true;
            contactDetailsButton = "Hide contact details";
        }
    }

    private void EditGame(UserGameView game)
    {
        UriHelper.NavigateTo("/editableexchangegame/" + game.UserGameId);
    }

    private void DeleteGameForExchange(UserGameView game)
    {
        UriHelper.NavigateTo("/deletegame/" + game.UserGameId);
    }

    private void DeleteGameSearch(UserSearchGameView search)
    {
        UriHelper.NavigateTo("/deletesearch/" + search.UserSearchId);
    }
}
