@using ExchangeService.Shared.Resources;
@using ExchangeService.Client.Services;
@page "/myprofile"
@inject HttpClient Http
@inject TokenService tokenService

<h1>My profile</h1>

@if (myProfile == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <img src="@myProfile.ImageUrl" width="150" height="150">
    <h5>@myProfile.Name @myProfile.Surname</h5>
    <h6>! @myProfile.PickUpLocation</h6>

    @if (myProfile.Pickup && !myProfile.Delivery)
    {
        <p>Pickup only</p>
    }
    else if (myProfile.Delivery && !myProfile.Pickup)
    {
        <p>Delivery only</p>
    }
    <p>Exchanges made: @myProfile.ExchangesCount</p>
    <p>Reviews: @myProfile.ReviewsCount</p>
    <p>STARS @myProfile.AvgMark</p>

    <button onclick=@(() => ToogleContactDetails())>@contactDetailsButton</button>
    @if (contactDetailsVisible)
    {
        <p>Ikonkatelefonu:</p> <input bind="@myProfile.PhoneNumber" />
        <p>Ikonkamaila:</p> <input bind="@myProfile.ContactEmail" />
    }

    <table>
        <thead>
            <tr>
                <th>Games for exchange</th>
                <th><a href="/addexchangegame">Add game for exchange</a></th>
            </tr>
        </thead>
        @for (int i = 0; i < userGames.Count(); i++)
        {
            <tr>
                <td><img src="@userGames[i].ImageUrl" width="100" height="100" /></td>
                <td>@userGames[i].Title</td>
            </tr>
        }
    </table>

    <table>
        <thead>
            <tr>
                <th>Game searches</th>
                <th><a href="/addsearchgame">Add game search</a></th>
            </tr>
        </thead>

        @for (int i = 0; i < userSearchGames.Count(); i++)
        {
            <tr>
                <td><img src="@userSearchGames[i].ImageUrl" width="100" height="100" /></td>
                <td>@userSearchGames[i].Title</td>
            </tr>
        }
    </table>

    @if (comments.Count() > 0)
    {
        <table>
            <thead>
                <tr>
                    <th>Rewiews</th>
                </tr>
            </thead>

            @for (int i = 0; i < comments.Count(); i++)
            {
                <tr>
                    <td>@comentators[i].Name @comentators[i].Surname</td>
                    <td><img src="@comentators[i].ImageUrl" width="50" height="50" /></td>
                    <td>@comments[i].CommentDate</td>
                    <td>@comments[i].Mark</td>
                    <td>@comments[i].Text</td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>You have no reviews</p>
    }

}


@functions {
UserView myProfile;
CommentDto[] comments = new CommentDto[] { };
List<UserView> comentators = new List<UserView>() { };
UserGameView[] userGames = new UserGameView[] { };
UserSearchGameView[] userSearchGames = new UserSearchGameView[] { };
bool contactDetailsVisible = false;
string contactDetailsButton = "Show contact details";

protected override async Task OnInitAsync()
{
    var token = await tokenService.GetAccessToken();
    Http.DefaultRequestHeaders.Add("Authorization", String.Format("Bearer {0} ", token));


    myProfile = await Http.GetJsonAsync<UserView>("http://localhost:5000/api/users/myprofile");

    var result = await Http.GetJsonAsync<IEnumerable<CommentDto>>("http://localhost:5000/api/users/comments/" + myProfile.UserId);
    if (result.Count() > 0) await FillComents(result.ToArray());

    var toExchange = await Http.GetJsonAsync<IEnumerable<UserGameView>>("http://localhost:5000/api/users/games/" + myProfile.UserId);
    userGames = toExchange.ToArray();
    var forSearch = await Http.GetJsonAsync<IEnumerable<UserSearchGameView>>("http://localhost:5000/api/users/searches/" + myProfile.UserId);
    userSearchGames = forSearch.ToArray();
}

private async Task FillComents(CommentDto[] dbComments)
{
    comments = dbComments;
    foreach (var comment in comments)
    {
        comentators.Add(await Http.GetJsonAsync<UserView>("http://localhost:5000/api/users/" + comment.LeavingUserId));
    }
}

private void ToogleContactDetails()
{
    if (contactDetailsVisible)
    {
        contactDetailsVisible = false;
        contactDetailsButton = "Show contact details";
    }
    else
    {
        contactDetailsVisible = true;
        contactDetailsButton = "Hide contact details";
    }
}

}
