@using ExchangeService.Shared.Resources;
@using ExchangeService.Client.Services;
@page "/MyProfile"
@inject HttpClient Http
@inject TokenService tokenService
@inject AppState appState
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<br />
<h1>My profile</h1>
<br />

@if (MyProfile == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row" style="padding:4px">
        <div class="col-sm-3">
            <ProfileDetails Profile="MyProfile">
                <button type="button" class="btn btn-primary btn-block" onclick=@(() => ToogleContactDetails())>@contactDetailsButton</button>
                @if (contactDetailsVisible)
                {
                    <br />
                    <div class="row" style="padding:4px">
                        <div class="col-sm-2">
                            <span class="fas fa-phone" style="font-size: 24px"></span>
                        </div>
                        <div class="col-sm-10">
                            <p class="font-weight-normal">@MyProfile.PhoneNumber</p>
                        </div>
                    </div>
                    <div class="row" style="padding:4px">
                        <div class="col-sm-2">
                            <span class="fas fa-envelope" style="font-size: 24px"></span>
                        </div>
                        <div class="col-sm-10">
                            <p class="font-weight-normal">@MyProfile.ContactEmail</p>
                        </div>
                    </div>
                }
                <a role="button" href="/edit" class="btn btn-outline-primary btn-block">Edit profile</a>
            </ProfileDetails>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-primary" role="alert" style="padding-top:12px; padding-bottom:0px">
                        <div class="row">
                            <div class="col-sm-8" style="padding-top:10px"> <p>Games for exchange </p></div>
                            <div class="col-sm-4">
                                <a role="button" class="btn btn-outline-primary btn-block" href="/addexchangegame">Add game for exchange</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var userGame in userGames)
                {
                    <div class="col-sm-2">
                        <div><img src="@userGame.ImageUrl" width="100" height="100" /></div>
                        <div><a href="/editableexchangegame/@userGame.UserGameId">@userGame.Title</a></div>
                    </div>
                    <div class="col-sm-1">
                        <i onclick="@(() => EditGame(userGame))" class="fas fa-edit"></i>
                        <i onclick="@(() => DeleteGameForExchange(userGame))" class="fas fa-trash-alt"></i>
                    </div>
                }
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-primary" role="alert" style="padding-top:12px; padding-bottom:0px">
                        <div class="row">
                            <div class="col-sm-8" style="padding-top:10px"> <p>Games searches </p></div>
                            <div class="col-sm-4">
                                <a role="button" class="btn btn-outline-primary btn-block" href="/addexchangegame">Add game for exchange</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var userSearch in userSearchGames)
                {
                    <div class="col-sm-2">
                        <div><img src="@userSearch.ImageUrl" width="100" height="100" /></div>
                        <div><a href="/game/@userSearch.GameId">@userSearch.Title</a></div>
                    </div>
                    <div class="col-sm-1">
                        <i onclick="@(() => DeleteGameSearch(userSearch))" class="fas fa-trash-alt"></i>
                    </div>
                }
            </div>
            <br />
            <br />
            <div class="row" style="padding:4px">
                <div class="col-sm-12">
                    <div class="alert alert-primary" role="alert">
                        Reviews
                    </div>
                </div>
            </div>
            @if (comments.Count() > 0 && comments.SingleOrDefault(c => c.IsVisible) != null)
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 20%">Username</th>
                            <th style="width: 20%">Comment date</th>
                            <th style="width: 60%">Content</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < comments.Count(); i++)
                        {
                            <tr>
                                <td>
                                    <div class="row justify-content-center">
                                        <div><a href="/profile/@comentators[i].UserId">@comentators[i].Name @comentators[i].Surname</a></div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <img src="@comentators[i].ImageUrl" width="100" height="100" />
                                    </div>
                                </td>
                                <td>@comments[i].CommentDate.ToShortDateString()</td>
                                <td>
                                    <div class="row" style="padding:4px">
                                        Mark: @comments[i].Mark
                                    </div>
                                    <div class="row" style="padding:4px">
                                        @comments[i].Text
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="row" style="padding:20px">
                    <p class="font-italic">You have no reviews.</p>

                </div>
            }
        </div>
    </div>
}


@functions {
UserView MyProfile { get; set; } = new UserView();
CommentDto[] comments = new CommentDto[] { };
List<UserView> comentators = new List<UserView>() { };
UserGameView[] userGames = new UserGameView[] { };
UserSearchGameView[] userSearchGames = new UserSearchGameView[] { };
bool contactDetailsVisible = false;
string contactDetailsButton = "Show contact details";

protected override async Task OnInitAsync()
{
    appState.TrySetAccessTokens();
    if (!appState.IsUserLoggedIn)
    {
        UriHelper.NavigateTo("/unauthorized");
    }
    MyProfile = await appState.GetMyProfile();
    var result = await Http.GetJsonAsync<IEnumerable<CommentDto>>("http://localhost:5000/api/users/comments/" + MyProfile.UserId);
    if (result.Count() > 0) await FillComents(result);

    var toExchange = await Http.GetJsonAsync<IEnumerable<UserGameView>>("http://localhost:5000/api/users/games/" + MyProfile.UserId);
    userGames = toExchange.ToArray();
    var forSearch = await Http.GetJsonAsync<IEnumerable<UserSearchGameView>>("http://localhost:5000/api/users/searches/" + MyProfile.UserId);
    userSearchGames = forSearch.ToArray();
}

private async Task FillComents(IEnumerable<CommentDto> dbComments)
{
    var commentList = dbComments.ToList();
    commentList.Reverse();
    comments = commentList.ToArray();
    foreach (var comment in comments)
    {
        comentators.Add(await Http.GetJsonAsync<UserView>("http://localhost:5000/api/users/" + comment.LeavingUserId));
    }
}

private void ToogleContactDetails()
{
    if (contactDetailsVisible)
    {
        contactDetailsVisible = false;
        contactDetailsButton = "Show contact details";
    }
    else
    {
        contactDetailsVisible = true;
        contactDetailsButton = "Hide contact details";
    }
}

private void EditGame(UserGameView game)
{
    UriHelper.NavigateTo("/editableexchangegame/" + game.UserGameId);
}

private void DeleteGameForExchange(UserGameView game)
{
    UriHelper.NavigateTo("/deletegame/" + game.UserGameId);
}

private void DeleteGameSearch(UserSearchGameView search)
{
    UriHelper.NavigateTo("/deletesearch/" + search.UserSearchId);
}
}
