@using ExchangeService.Shared.Resources;
@page "/offerdeal/{UserId}"
@inject HttpClient Http

<h5>Offer an exchange</h5>

@if (myProfile == null || otherUser == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (visiblePageNumber == 1)
    {
        <h5>1. Select games</h5>
        <table>
            <tbody>
                <tr>
                    <td>
                        <img src="@myProfile.ImageUrl" width="150" height="150">
                        <h5>@myProfile.Name @myProfile.Surname</h5>
                        <h6>! @myProfile.PickUpLocation</h6>
                        @if (myProfile.Pickup && !myProfile.Delivery)
                        {
                            <p>Pickup only</p>
                        }
                        else if (myProfile.Delivery && !myProfile.Pickup)
                        {
                            <p>Delivery only</p>
                        }
                        <p>Exchanges made: @myProfile.ExchangesCount</p>
                        <p>Reviews: @myProfile.ReviewsCount</p>
                        <p>STARS @myProfile.AvgMark</p>
                    </td>
                    <td>
                        @for (int i = 0; i < myGames.Count(); i++)
                        {
                            <input type="checkbox" value="@areSelectedMyGames[i]" onchange="@(() => areSelectedMyGames[0] = !areSelectedMyGames[0])" />@myGames[i].Title <br />
                        }
                    </td>
                    <td>
                        |
                    </td>
                    <td>
                        @for (int i = 0; i < otherGames.Count(); i++)
                        {
                            <input type="checkbox" value="@areSelectedOtherGames[i]" onchange="@(() => areSelectedOtherGames[0] = !areSelectedOtherGames[0])" />@otherGames[i].Title <br />
                        }
                    </td>
                    <td>
                        <img src="@otherUser.ImageUrl" width="150" height="150">
                        <h5>@otherUser.Name @otherUser.Surname</h5>
                        <h6>! @otherUser.PickUpLocation</h6>
                        @if (otherUser.Pickup && !otherUser.Delivery)
                        {
                            <p>Pickup only</p>
                        }
                        else if (otherUser.Delivery && !otherUser.Pickup)
                        {
                            <p>Delivery only</p>
                        }
                        <p>Exchanges made: @otherUser.ExchangesCount</p>
                        <p>Reviews: @otherUser.ReviewsCount</p>
                        <p>STARS @otherUser.AvgMark</p>
                    </td>
                </tr>
            </tbody>
        </table>
        @if (areSelectedMyGames.Contains(true) && areSelectedOtherGames.Contains(true))
        {
            <button onclick=@(() => MoveToNext())>Next</button>
        }
    }

    @if (visiblePageNumber == 2)
    {
        <h5>2. Choose shippment type</h5>
        <form action="">
            <input type="radio" name="shipping" onchange="@(() => { isPickup = true; isDelivery = false; })" checked="@isPickup" /> PickUp <br>
            <input type="radio" name="shipping" onchange="@(() => { isDelivery = true; isPickup = false; })" checked="@isDelivery"/> Delivery <br>
        </form>
        <button onclick=@(() => MoveToPrevious())>Previous</button>
        @if (isDelivery || isPickup)
        {
            <button onclick=@(() => MoveToNext())>Next</button>
        }
    }

    @if (visiblePageNumber == 3)
    {
        @if (isDelivery)
        {
            <h5>3. Provide address for package delivery</h5>
        }
        else
        {
            <h5>3. Provide contact details to discuss the pickup</h5>
        }
        <input type="text" bind="@firstUserContactInfo" />
        <button onclick=@(() => MoveToPrevious())>Previous</button>
        <button onclick=@(() => ShowSummary())>Show summary</button>
    }

    @if (visiblePageNumber == 4)
    {
        <h5>4. Exchange summary</h5>

        <table>
            <tbody>
                <tr>
                    <td>
                        <img src="@myProfile.ImageUrl" width="150" height="150">
                        <h5>@myProfile.Name @myProfile.Surname</h5>
                        <h6>! @myProfile.PickUpLocation</h6>
                        @if (myProfile.Pickup && !myProfile.Delivery)
                        {
                            <p>Pickup only</p>
                        }
                        else if (myProfile.Delivery && !myProfile.Pickup)
                        {
                            <p>Delivery only</p>
                        }
                        <p>Exchanges made: @myProfile.ExchangesCount</p>
                        <p>Reviews: @myProfile.ReviewsCount</p>
                        <p>STARS @myProfile.AvgMark</p>
                    </td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        Games you give away:
                                        @foreach (var gameId in exchange.MyGamesIds)
                                        {
                                            <p>@myGames.SingleOrDefault(g => g.GameId == gameId).Title</p>
                                        }
                                    </td>
                                    <td>
                                        Games you get:
                                        @foreach (var gameId in exchange.OtherUserGamesIds)
                                        {
                                            <p>@otherGames.SingleOrDefault(g => g.GameId == gameId).Title</p>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Type of exchange:
                                        @if (exchange.Pickup)
                                        {
                                            <p>PickUp</p>
                                        }
                                        else
                                        {
                                            <p>Delivery</p>
                                        }
                                    </td>
                                    <td>
                                        @if (exchange.Pickup)
                                        {
                                            <p>Your contact details:</p>
                                        }
                                        else
                                        {
                                            <p>Your delivery adress:</p>
                                        }
                                        <p>@firstUserContactInfo</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <img src="@otherUser.ImageUrl" width="150" height="150">
                        <h5>@otherUser.Name @otherUser.Surname</h5>
                        <h6>! @otherUser.PickUpLocation</h6>
                        @if (otherUser.Pickup && !otherUser.Delivery)
                        {
                            <p>Pickup only</p>
                        }
                        else if (otherUser.Delivery && !otherUser.Pickup)
                        {
                            <p>Delivery only</p>
                        }
                        <p>Exchanges made: @otherUser.ExchangesCount</p>
                        <p>Reviews: @otherUser.ReviewsCount</p>
                        <p>STARS @otherUser.AvgMark</p>
                    </td>
                </tr>
            </tbody>
        </table>

        <button onclick=@(() => MoveToPrevious())>Previous</button>
        <button onclick=@(() => OfferAnExchange())>Offer an exchange</button>
    }
}

@functions {
    [Parameter]
    string UserId { get; set; }

    ExchangeDto exchange;

    UserView myProfile;
    UserView otherUser;
    UserGameView[] myGames;
    UserGameView[] otherGames;
    int visiblePageNumber = 1;

    bool[] areSelectedMyGames;
    bool[] areSelectedOtherGames;

    bool isPickup;
    bool isDelivery;

    string firstUserContactInfo;

    protected override async Task OnInitAsync()
    {
        myProfile = await Http.GetJsonAsync<UserView>("http://localhost:5000/api/users/myprofile");
        int otherUserId = Int32.Parse(UserId);
        otherUser = await Http.GetJsonAsync<UserView>("http://localhost:5000/api/users/" + otherUserId);

        var mine = await Http.GetJsonAsync<IEnumerable<UserGameView>>("http://localhost:5000/api/users/games/" + myProfile.UserId);
        myGames = mine.ToArray();

        var other = await Http.GetJsonAsync<IEnumerable<UserGameView>>("http://localhost:5000/api/users/games/" + otherUser.UserId);
        otherGames = other.ToArray();

        areSelectedMyGames = new bool[myGames.Count()];
        areSelectedOtherGames = new bool[otherGames.Count()];
        exchange = new ExchangeDto();
    }

    private void MoveToNext()
    {
        visiblePageNumber++;
    }

    private void MoveToPrevious()
    {
        visiblePageNumber--;
    }

    private void OfferAnExchange()
    {
        // TO DO
    }

    private void ShowSummary()
    {
        MoveToNext();
        SetUpGames();
        SetUpShippment();
    }

    private void SetUpGames()
    {
        var myGamesIndexes = new List<int>();
        for (int i = 0; i < myGames.Count(); i++)
        {
            if (areSelectedMyGames[i]) myGamesIndexes.Add(myGames[i].GameId);
        }
        exchange.MyGamesIds = myGamesIndexes.ToArray();
        var otherGamesIndexes = new List<int>();
        for (int i = 0; i < otherGames.Count(); i++)
        {
            if (areSelectedOtherGames[i]) otherGamesIndexes.Add(otherGames[i].GameId);
        }
        exchange.OtherUserGamesIds = otherGamesIndexes.ToArray();
    }

    private void SetUpShippment()
    {
        if (isPickup)
        {
            exchange.Pickup = true;
            exchange.Delivery = false;
        }
        else
        {
            exchange.Pickup = false;
            exchange.Delivery = true;
        }
        exchange.OfferingUserContactInfo = firstUserContactInfo;
    }

}

