@using ExchangeService.Shared.Resources;
@inject HttpClient Http

<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="row justify-content-center">
                <img src="@Profile.ImageUrl" width="150" height="150">
            </div>
            <div class="row justify-content-center">
                <h5>@Profile.Name @Profile.Surname</h5>
            </div>
            <div class="row justify-content-center">
                <i class="fas fa-map-marker-alt" style="font-size: 18px"></i>
                @Profile.Location
            </div>
        </div>
        <div class="card-body">
            <p class="card-text">
                Exchanges made:
                @Profile.ExchangesCount
            </p>
            <p class="card-text">
                Reviews:
                @Profile.ReviewsCount
            </p>
            <p class="card-text">
                Average mark:
                @Profile.AvgMark
            </p>
            @ChildContent
        </div>
    </div>
</div>

@functions{
    [Parameter]
    UserView Profile { get; set; } = new UserView();
    [Parameter]
    private RenderFragment ChildContent { get; set; }
}
