@using ExchangeService.Shared.Resources;
@using ExchangeService.Client.Services;
@inject HttpClient Http
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<div class="container">
    <div class="alert alert-secondary" role="alert">
        <div class="row justify-content-center">
            <img src="@Profile.ImageUrl" width="150" height="150">
        </div>
        <div class="row justify-content-center">
            <p class="font-weight-bold">@Profile.Name @Profile.Surname</p>
        </div>
        <div class="row" style="padding:4px">
            <div class="col-sm-2">
                <i class="fas fa-map-marker-alt" style="font-size: 18px"></i>
            </div>
            <div class="col-sm-10">
                <p class="font-weight-normal">@Profile.Location</p>
            </div>
        </div>
        <div class="row" style="padding:4px">
            <div class="col-sm-9">
                <p class="font-weight-normal">Exchanges made:</p>
            </div>
            <div class="col-sm-3">
                @Profile.ExchangesCount
            </div>
        </div>
        <div class="row" style="padding:4px">
            <div class="col-sm-9">
                <p class="font-weight-normal">Reviews:</p>
            </div>
            <div class="col-sm-3">
                @Profile.ReviewsCount
            </div>
        </div>
        <div class="row" style="padding:4px">
            <div class="col-sm-9">
                <p class="font-weight-normal">Average mark:</p>
            </div>
            <div class="col-sm-3">
                @Profile.AvgMark
            </div>
        </div>
        @ChildContent
    </div>
</div>

@functions{
    [Parameter]
    UserView Profile { get; set; } = new UserView();
    [Parameter]
    private RenderFragment ChildContent { get; set; }
}
